@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(41 37 36); /* Replace with your desired color */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}



.navigation-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; 
  justify-content: center;
  align-items: center; 
  height: 65px;
  width: 100%; 
  background-color: black; 
}

@media (max-width: 600px) {
  .navigation-bar {
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
}

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55px;
  gap: 0.5rem;  
}


@media (max-width: 600px) {
  .logo-section {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
  }
}

.logo img {
  height: 40px; 
  object-fit: contain; /* Ensure the logo scales without distortion */
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 50%;
  height: 55px;
  gap: 2.0rem;
  padding: 10px; 
}


@media (max-width: 600px) {
  .nav-items {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 1.5rem; 
  }
}

.download-section {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55px; 
}


@media (max-width: 600px) {
  .download-section {
    display: none;
  }
}

.download-button {
  border-radius: 5%;
  width: 175px; 
  height:40px;
  background-color: rgb(153 27 27);
  color: white;
  font-weight: bold;
}

p {
  font-size: 17px;
  color:  white;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: bold; 
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 1.0rem; 
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: black; 
}


@media (max-width: 600px) {
  .hero-section  {
    height: 250px;
  }
}


.hero-text-section h1 {
  padding: 20px; 
  font-size: 50px;
  width: 1000px; 
}


@media (max-width: 600px) {
  .hero-text-section h1 {
    font-size: 20px; 
    width: 300px;
    height: 150px;
  }
}

.download-button-hero {
  border-radius: 5%;
  width: 300px; 
  height:70px;
  background-color: rgb(153 27 27);
  color: white;
  font-weight: bold;
  font-size: 30px;
}


@media (max-width: 600px) {
  .download-button-hero {
    width: 250px; 
    height:50px;
  }
}

.supported-platforms-info {
  display: flex;
  flex-direction: column;
  gap: 2.0rem; 
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%; 
}


@media (max-width: 600px) {
  .supported-platforms-info  {
    height: 200px;
  }
}

.supported-platforms-header h1 {
  font-size: 50px;
}


@media (max-width: 600px) {
  .supported-platforms-header h1 {
    font-size: 25px;
  }
}

.supported-platforms-icons {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.windows img {
  height: 100px;
  width: 100px;
}


@media (max-width: 600px) {
  .windows img {
    height: 75px;
    width: 75px;
  }
}


.macos img {
  height: 100px;
  width: 100px;
}


@media (max-width: 600px) {
  .macos img {
    height: 75px;
    width: 75px;
  }
}


.linux img {
  height: 100px;
  width: 100px;
}


@media (max-width: 600px) {
  .linux img {
    height: 75px;
    width: 75px;
  }
}


.about-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: black; 
}

@media (max-width: 600px) {
  .about-hero-section {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-hero-section h1 {
  font-size: 50px;
}


@media (max-width: 600px) {
  .about-hero-section h1 {
    font-size: 25px;
  }
}

.header-text-section {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px;
}


@media (max-width: 600px) {
  .header-text-section {
    width: 400px;
  }
}

.header-section {
  display: flex; 
  justify-content: center;
  align-items: center;
}


.text-section {
  display: flex; 
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .text-section {
    width: 400px;
  }
}


.feature-demo-section {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.0rem;
  padding: 30px; 
}


@media (max-width: 600px) {
  .feature-demo-section {
    flex-direction: column;
  }
}

.feature-text {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  width: 500px; 
  height: 550px;
}


@media (max-width: 600px) {
  .feature-text {
    width: 300px; 
  }
} 

.feature-video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
