@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(41 37 36); /* Replace with your desired color */
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  gap: 1rem;
  margin-right: 5%;
  margin-left: 5%;
}

.carousel-header {
  color: white;
  margin-left: 7%; 
  margin-right: 5%;
  font-size: 30px;
  font-weight: bold;
}

.add-button {
  position: fixed;  /* Fixed positioning relative to the viewport */
  bottom: 20px;     /* 20px from the bottom of the screen */
  right: 20px;      /* 20px from the right of the screen */
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(153 27 27);
  color: white;
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.edit-button {
  position: fixed;  /* Fixed positioning relative to the viewport */
  bottom: 20px;     /* 20px from the bottom of the screen */
  right: 20px;      /* 20px from the right of the screen */
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(153 27 27);
  color: white;
  border: none;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.modal {
  border-radius: 3%;
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 50%;
  width: 500px;
  height: 600px;
  margin-left: -160px;
  background-color: rgb(28 25 23); 
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px; 
}

.form-header {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
  padding: 6px; 
}

.form-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  border-radius: 5%;
  width: 50px; 
  color: white;
  padding: 8px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2.0rem; /* This is equivalent to gap-2 in Tailwind (usually 0.5rem or 8px depending on your config) */
  width: 100%;
  padding: 20px;
}

.file-form-section {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* This is equivalent to gap-2 in Tailwind (usually 0.5rem or 8px depending on your config) */
  width: 100%;
  padding: 20px;
  align-items: center;
}

.form-submit {
  display: flex;
  flex-direction: row;
  gap: 1.0rem; /* This is equivalent to gap-2 in Tailwind (usually 0.5rem or 8px depending on your config) */
  justify-content: center;
  align-items: center;
}

.upload-button {
  border-radius: 5%;
  width: 100px; 
  height:40px;
  background-color: rgb(153 27 27);
  color: white;
}

.close-button {
  border-radius: 5%;
  width: 100px; 
  height:40px;
  background-color: rgb(41 37 36);
  color: rgb(153 27 27);
}


input {
  border-radius: 3%;
  height: 50px;
  width: 300px;
  padding: 8px;
  background-color: rgb(41 37 36);
  color: rgb(153 27 27);
  outline: rgb(153 27 27);
}

input[type="file"] {
  border-radius: 3%;
  height: 50px;
  width: 300px;
  padding: 8px;
  background-color: rgb(41 37 36);
  color: rgb(153 27 27);
  outline: rgb(153 27 27);
}

label {
  background-color: rgb(41 37 36);
  color: rgb(153 27 27);
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

#audio-thumbnail-upload {
  display: none;
}

#audio-file-upload {
  display: none;
}


.audio-file-card-container {
  border-radius: 3%;
  display: flex;
  height: 200px;
  width: 200px;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  justify-content: center; 
}


.audio-file-card-container-content {
  border-radius: 3%;
  width: 100%;
  height: 100px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}


.audio-file-card-text-content {
  display: flex; 
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.audio-file-card-icon-content {
  display: flex;
  flex-direction: row;
  gap: 2.0rem; 
  padding: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.list-view-image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-view-image {
  display: flex;
  border: 1px; 
  border-radius: 15%; /* Optional: Rounded corners */
  height: 60px;
  width: 60px;  
}

.list-view-text-container {
  padding: 4px; 
  height: 100%; 
  justify-content: left;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.list-view-trailing-container {
  display: flex; 
  height: 100%;
  align-items: center;
  justify-content: center; 
}

.trailing-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cards {
    display: grid;
    gap: 1rem;
    margin: 0 auto; 
    overflow: auto; 
}

@media (min-width: 600px) {
  .grid-cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .grid-cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
  .grid-cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1200px) {
  .grid-cards { grid-template-columns: repeat(5, 1fr); }
}

@media (min-width: 1500px) {
  .grid-cards { grid-template-columns: repeat(6, 1fr); }
}

@media (min-width: 1900px) {
  .grid-cards { grid-template-columns: repeat(8, 1fr); max-width: 1800px; }
}

.search-box-container {
    max-width: 100%; 
    height: 75px;
    margin: 0 auto; 
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.grid-container {
  max-width: 100%; 
  height: 100%;
  margin: 0 auto;
}

.back-bar {
  width: 100%; 
  height: 60px;
  background-color: rgb(28 25 23);
  top: fixed;
  padding: 2px;
}

.back-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.image-container {
  border-radius: 10%;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
}

.pomodoro-gradient-background {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(#CC3939, #322727);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.pomodoro-clock-container {
  height: 300px;
  width: 60%;
  background-color: rgb(28 25 23);
  border-radius: 1%;
}


.pomodoro-break-options {
  display: flex;
  flex-direction: row;
  gap: 2.0rem; /* This is equivalent to gap-2 in Tailwind (usually 0.5rem or 8px depending on your config) */
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.pomodoro-duration-display {
  justify-content: center;
  align-items: center; 
  display: flex;
  height: 100px;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.pomodoro-button-container {
  justify-content: center;
  align-items: center; 
  display: flex;
  height: 140px;
}

.pomodoro-button {
    border-radius: 3%;
    width: 200px; 
    height:60px;
    background-color: rgb(153 27 27);
    color: white;
    font-size: 30px;
    font-weight: bold;
}



